/.idea
node_modules
src-widgets/node_modules
package-lock.json
src-widgets/package-lock.json
src-widgets/build
widgets
*.tgz
tmp/

# ioBroker dev-server
.dev-server/
.vscode/info.txt
.gitignore
.vscode/secrets.txt
